body {
  background-color: #1d1d1d;
}
#main{
  display: flex;
  justify-content: center;
  margin-top: 50px;
 
}


#cal{
  border: 1px solid rgb(132, 127, 127);
  border-radius: 10px;
  width: 200px;
  background-color: #6A89A7;

}
#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  

}
.keys{
  width: 45px;
  height: 45px;
  margin: 5px;
  background-color: #FDFBD4;
  border-radius: 5px;

}